* {
    padding: 0; 
    margin: 0; 
}

@font-face {
    font-family: Helvetica Bold;
    src: url("./font/Helvetica-Bold.ttf") format('truetype');
}


@font-face {
    font-family: Helvetica;
    src: url("./font/Helvetica.ttf") format('truetype');
}

body {
    display: grid;
    height: 100vh; 
}

dialog[open] {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    border: 0.5px solid black;
    padding: 20px;
    gap: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1vw; 
    font-size: 24px;
}

.form_col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_col > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_btn_container {
    border-top: 1vh; 
    grid-column-start: 2;
    justify-self: flex-end;
}

#title, #description, #date, #priority, #project {
    padding: 5px;
}

textarea {
    resize: vertical; 
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%; 
    height: 100%;  
    font-family: Helvetica;
    border-top: 1px solid black;
}

.title {
    padding: 1vw;
    font-family: Helvetica Bold;
    align-self: center;
}

.sidebar {
    display: grid;  
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    justify-content: left;  
    padding: 1vw;
    gap: 5vh;
    border-right: 1px solid black;
}

.sidebar_btns_container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

button {
    font-size: 24px;
    padding: 12px; 
    background-color: white;
    border: 0.5px solid black; 
    text-align: left;
}

button:hover {
    background-color: #E9EAEC;
}

#inbox, #today, #this_week, #add_project {
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 10px;
}

#todo_btn {
    display: grid;
    grid-template-columns: 1fr 40fr;
    align-items: center;
    gap: 10px;
}

.form_btn {
    font-size: 12px;
}

.sidebar_projects {
    display: flex;
    flex-direction: column;
    gap: 2vh; 
    font-family: Helvetica;
}

.todo_page {
    padding: 1vw;
    display: grid;
    align-items: center;
    align-content: start;
    gap: 2vh;
}

.todos {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.task {
    font-family: Helvetica; 
    padding: 12px;
    border: 0.5px solid black;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
